*{margin:0;padding:0;}
body{font-size:15px;color:#4b4b4b;font-family: Verdana,'Microsoft YaHei',Tahoma,'Simsun',sans-serif;cursor: default;background: #F6F6F6;}
h1,h2,h3,h4,h5,h6{font-size: 1em;}
ul,ol{list-style:none;}
a{color: inherit;text-decoration:none;}
img{border: none;}
input{font-family: inherit;}
.wraper{width: 1180px;margin: 0 auto;}
.overhidden{overflow: hidden;}

.header{height: 55px;background: #515151;color: #FFF;position: relative;}
.logo{position: absolute;left: 30px;line-height: 55px;font-weight: 700;}
.nav>a{font-size: 24px;line-height: 60px;margin-right: 25px;color: #FFF;}
.nav>a:hover{color: #50bd85;}

.nav_tags{background: #FFF;position: absolute;top: 57px;width: 100%;z-index: 111;box-shadow: 0 1px 5px 1px #AAA;display: none;}
.nav_tagss{padding: 15px 0 25px;}
.nav_tagss .tags{display: inline-block;margin-bottom: 5px;line-height: 20px;}

.article{margin-top: 20px;}
.item{width: 220px;margin:0 15px 15px 0;position: relative;padding: 5px;box-shadow: 0 0 4px 1px #DDD;background: #FFF;}
.item img{width: 100%;}
.item img:hover{opacity: 0.85;}
.tagsDv{line-height: 24px;}
.tags{color: #FFF;background: #5bc0de;font-size: 12px;padding: 2px 10px;border-radius: 3px;margin-right: 5px;}
.osDv{margin: 10px 0;}
.osDv input{border: none;border-bottom: 1px solid #d0cfcf;width: 100%;outline: none;color:#777;height: 22px;}
.copy{background: #eb6f6f;color: #FFF;font-size: 12px;padding: 2px 10px;border-radius: 3px;}

.form-group{margin-bottom: 25px;}
.submitBtn{width: 120px;height: 36px;background: #127ac3;color: #FFF;border: none;font-size: 15px;border-radius: 4px;}

@media screen and (max-width: 12000px) and (min-width: 980px){
	.wraper{width: 980px;}
}
@media screen and (max-width: 980px){
	.wraper{width: 100%;}
}
