<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blank">
<meta name="format-detection" content="telephone=no">
<title>Images</title>
<link rel="stylesheet" href="__PUBLIC__/css/app.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-tagsinput/1.3.3/jquery.tagsinput.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
		<a class="logo" href="{:U('index')}">KStart</a>
		<div class="wraper nav">
			<a class="fa fa-navicon" href="{:U('index')}"></a>
			<a class="fa fa-tags" href="javascript:;"></a>
			<a class="fa fa-plus" href="{:U('add')}"></a>
		</div>
		<div class="nav_tags">
			<div class="nav_tagss wraper">
				<volist id="vt" name="tags">
				<a href="{:U('index',array('tag'=>$vt))}" class="tags">{$vt}</a>
				</volist>
			</div>
		</div>
	</div>

	<div class="article">
		<div class="wraper">
			<form action="{:U('upload_images')}" enctype="multipart/form-data" method="post" >
			<div class="form-group">
				<input name="tags" id="tags" value="" />				
			</div>
			<div class="form-group">
				<input type="file" name="image" id="">
			</div>
			<div class="form-group">
				<input class="submitBtn" type="submit" value="提交">
			</div>
			</form>
		</div>
	</div>


</body>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-tagsinput/1.3.3/jquery.tagsinput.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#tags').tagsInput({
		'height':'64px',
		'width':'100%',
		'interactive':true,
		'defaultText':'输入标签',
		'removeWithBackspace' : true,
		'placeholderColor' : '#666666'
	});
});
</script>
<script type="text/javascript" src="__PUBLIC__/js/require.js" data-main="__PUBLIC__/js/main"></script>
</html>
