	<div class="header">
		<a class="logo" href="{:U('index')}">KStart</a>
		<div class="wraper nav">
			<a class="fa fa-navicon" href="{:U('index')}"></a>
			<a class="fa fa-tags" href="javascript:;"></a>
			<a class="fa fa-image" href="{:U('image')}"></a>
			<a class="fa fa-plus" href="{:U('add')}"></a>
			<a class="fa fa-cloud-upload" href="{:U('add_2')}"></a>
			<form id="sFm" action="{:U('index')}" method="get"><input type="text" name="tag" placeholder="Search.."></form>
		</div>
		<div class="nav_tags">
			<div class="nav_tagss wraper">
				<volist id="vt" name="tags">
				<a href="{:U('index',array('tag'=>$vt))}" class="tags">{$vt}</a>
				</volist>
			</div>
		</div>
	</div>