<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blank">
<meta name="format-detection" content="telephone=no">
<title>Images</title>
<link rel="stylesheet" href="__PUBLIC__/css/app.css">
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<include file="header" />

	<div class="article">
		<div class="wraper">
			<div class="js-masonry" id="container">
				<volist name="data" id="v">
				<div class="item">
					<a href="javascript:void(0);" class="imageInfo"><img src="{$v.thumb_url}" alt=""></a>
					<div class="item_info">
						<div class="tagsDv">
							<volist id="tag" name="v.tags">
								<a href="{:U('index',array('tag'=>$tag))}" class="tags">{$tag}</a>
							</volist>
							<span style="color:#50bd85;">{$v.classify}</span>
						</div>
						<div class="osDv">
							<a href="javascript:;" data-clipboard-text="{$v.thumb_url}" class="copy">复制链接</a>
							<input type="text" value="{$v.thumb_url}">
						</div>
						<div class="osDv">
							<a href="javascript:;" data-clipboard-text="{$v._id|strtoupper}" class="copy">复制KEY</a>
							<input type="text" value="{$v._id|strtoupper}">
						</div>
					</div>
				</div>
				</volist>				
			</div>
		</div>
	</div>


</body>
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/masonry/3.3.0/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script type="text/javascript">
$(function(){
	var container = $('#container');
	container.imagesLoaded(function(){
		container.masonry({
			itemSelector : '.item',
			isAnimated: true,
		});
	});

	var clip = new ZeroClipboard($('.copy'),{
		moviePath: '//cdn.bootcss.com/zeroclipboard/2.2.0/ZeroClipboard.swf'
	});

	clip.on('aftercopy',function(e){
		console.log(e.data['text/plain']);
	});
	$('.copy').on('click',function(){
		$(this).text('已复制');
	});

});
</script>
<script type="text/javascript" src="__PUBLIC__/js/require.js" data-main="__PUBLIC__/js/main"></script>
</html>
